<ion-header no-border>
  <ion-toolbar>
    <ion-title size="large">History</ion-title>
  

    <ion-buttons slot="end">
      <ion-button (click)="sendMail()"
                  color="success">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item *ngFor="let register of dataLocal.stored"
            (click)="openRegister( register )"
            detail>
    <ion-icon slot="start" name="{{ register.icon }}"></ion-icon>
    <ion-label>
      <h2>{{ register.text }}</h2>
      <p>{{ register.created }}</p>
    </ion-label>
  </ion-item>
  
</ion-content>
